<html>
  <head>
    <title>index of svb project</title>
  </head>
  <body>
    <h1>Add a Sailor</h1>
        <form action="/sailors/add" method=POST>
          <label>sailor name</label>
          <input type="text" name="sailor-name"/>
          <br/>
          <label>sailor age</label>
          <input type="number" name="sailor-age"/>
          <br/>
          <label>sailor experience</label>
          <input type="number" name="sailor-exp"/>
          <br/>
          <br/>
          <input type=submit value="submit"/>
        </form>
  </body>
</html>