<html>
  <head>
    <title>index of svb project</title>
  </head>
  <body>
    <h1>Add a Voyage</h1>
        <form action="/voyages/add" method=POST>
          <label>sailor id</label>
          <input type="number" name="sid"/>
          <br/>
          <label>boat id</label>
          <input type="number" name="bid"/>
          <br/>
          <label>date of voyage</label>
          <input type="text" name="voyages"/>
          <br/>
          <br/>
          <input type=submit value="submit"/>
        </form>
  </body>
</html>